.banner {
  /* width: 96dvw;
  left: -422px; */
  width: 96dvw;
  top: -50px;
  height: 70dvh;
  box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
  background: #180236;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(#590fb720 1px, transparent 1px),
    linear-gradient(to right, #590fb720 1px, #180236 1px);
  background-size: 40px 40px;
  /*   -webkit-filter: contrast(20);
      filter: contrast(20); */
}

.banner h1 {
  max-width: 40dvw;
  color: #fff;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  z-index: 1;
  margin: 0;
  padding: 0;
  /* position: absolute; */
  /* animation: 0.2s slide-right 0.2s forwards; */
  /* opacity: 1; */
  /* transform: translateX(200%); */
  font-size: 3dvw;
  container-name: sidebar;
}

@media screen and (max-width: 875px) {
  .banner {
    width: 92dvw;
    margin: 0 100px;
  }

  .banner h1 {
    max-width: 100dvw;
    font-size: 5vw;
  }
}

@layer demo {
  :root {
    --blob-size: 90dvw;
    --blob-speed: 8s;
    --blob-speed-scale: calc(0.75 * var(--blob-speed));
    --blob-speed-move: calc(1 * var(--blob-speed));
    --blob-speed-rotate: calc(2 * var(--blob-speed));
    --blob-opacity: 0.2;
    --blob-blur: 80px;
    --blob-color-1: #590fb7;
    --blob-color-2: #7023d4;
    --blob-color-3: #320968;
    /* --blob-color-1: hsl(304deg, 100%, 55%);
    --blob-color-2: hsl(182deg, 100%, 55%);
    --blob-color-3: hsl(216deg, 100%, 55%); */
  }

  .blobs {
    position: relative;
    filter: blur(var(--blob-blur));
  }
  .blobs * {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform-origin: 50% 50%;
    transform-style: preserve-3d;
    will-change: transform;
  }
  .blobs:after {
    position: relative;
    display: block;
    width: 22rem;
    height: 38rem;
    background: rgba(184, 184, 184, 0.08);
    -webkit-backdrop-filter: blur(8rem) saturate(1.6);
    backdrop-filter: blur(8rem) saturate(1.6);
    border-radius: 1.5rem;
    z-index: 2;
  }

  .blob {
    width: var(--blob-size);
    height: calc(0.25 * var(--blob-size));
    background-color: var(--blob-color-1);
    border-radius: 100%;
    opacity: var(--blob-opacity);
    mix-blend-mode: multiply;
    -webkit-animation: blob ease-in-out var(--blob-speed-scale) infinite;
    animation: blob ease-in-out var(--blob-speed-scale) infinite;
  }
  .blobs > :nth-child(2) .blob {
    background-color: var(--blob-color-2);
    -webkit-animation-delay: calc(-0.8 * var(--blob-speed-scale));
    animation-delay: calc(-0.8 * var(--blob-speed-scale));
  }
  .blobs > :nth-child(3) .blob {
    background-color: var(--blob-color-3);
    -webkit-animation-delay: calc(-0.2 * var(--blob-speed-scale));
    animation-delay: calc(-0.2 * var(--blob-speed-scale));
  }

  @-webkit-keyframes blob {
    0%,
    100% {
      transform: scale(0.8, 2);
    }
    50% {
      transform: scale(1.4, 0.8);
    }
  }

  @keyframes blob {
    0%,
    100% {
      transform: scale(0.8, 2);
    }
    50% {
      transform: scale(1.4, 0.8);
    }
  }
  .blob-rotate {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-animation: blob-rotate linear var(--blob-speed-rotate) infinite
      alternate;
    animation: blob-rotate linear var(--blob-speed-rotate) infinite alternate;
  }
  .blob-rotate:nth-child(2) {
    -webkit-animation-duration: calc(2 * var(--blob-speed-rotate));
    animation-duration: calc(2 * var(--blob-speed-rotate));
    -webkit-animation-delay: calc(-1.5 * var(--blob-speed-rotate));
    animation-delay: calc(-1.5 * var(--blob-speed-rotate));
  }
  .blob-rotate:nth-child(3) {
    animation-direction: alternate-reverse;
    -webkit-animation-duration: calc(0.8 * var(--blob-speed-rotate));
    animation-duration: calc(0.8 * var(--blob-speed-rotate));
    -webkit-animation-delay: calc(-1 * var(--blob-speed-rotate));
    animation-delay: calc(-1 * var(--blob-speed-rotate));
  }

  @-webkit-keyframes blob-rotate {
    0% {
      transform: translate3d(-50%, -50%, 0) rotateZ(-28deg);
      transform-origin: 50% 100%;
    }
    100% {
      transform: translate3d(-50%, -50%, 0) rotateZ(28deg);
      transform-origin: 50% 0%;
    }
  }

  @keyframes blob-rotate {
    0% {
      transform: translate3d(-50%, -50%, 0) rotateZ(-28deg);
      transform-origin: 50% 100%;
    }
    100% {
      transform: translate3d(-50%, -50%, 0) rotateZ(28deg);
      transform-origin: 50% 0%;
    }
  }
  .blob-move {
    -webkit-animation: blob-move ease-in-out var(--blob-speed-move) infinite;
    animation: blob-move ease-in-out var(--blob-speed-move) infinite;
  }
  .blobs > :nth-child(2) .blob-move {
    -webkit-animation-delay: calc(-0.8 * var(--blob-speed-move));
    animation-delay: calc(-0.8 * var(--blob-speed-move));
  }
  .blobs > :nth-child(3) .blob-move {
    -webkit-animation-delay: calc(-0.4 * var(--blob-speed-move));
    animation-delay: calc(-0.4 * var(--blob-speed-move));
  }

  @-webkit-keyframes blob-move {
    0%,
    100% {
      transform: translateX(30%);
    }
    50% {
      transform: translateX(-30%);
    }
  }

  @keyframes blob-move {
    0%,
    100% {
      transform: translateX(30%);
    }
    50% {
      transform: translateX(-30%);
    }
  }
}
